$topbar-bg: #1db954;
$topbar-text-color: #ffffff;

:host {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $topbar-bg;
  padding: 10px 20px;
  color: $topbar-text-color;
}