$sidebar-bg: #282828;
$sidebar-text-color: #ffffff;
$sidebar-hover-bg: #3b3b3b;
$sidebar-hover-text-color: #ffffff;
$sidebar-active-bg: #1DB954;
$sidebar-active-text-color: #ffffff;

.layout {
    display: flex;
    height: 100vh;
  }
  
  .sidebar {
    flex: 0 0 auto; // Tamaño fijo
    background-color: $sidebar-bg; // Color de fondo del sidebar
    height: 100vh; // Altura completa
  }
  
  .main-container {
    flex: 1; // Ocupa el espacio restante
    display: flex;
    flex-direction: column;
  }
  
  .topbar {
    flex: 0 0 auto; // Tamaño fijo
    padding: 10px 20px; // Espaciado interno
  }
  
  .content {
    flex: 1; // Ocupa el espacio restante
    padding: 20px; // Espaciado interno
  }