<div class="sidebar">
  <div class="sidebar-header">
    <h2>Gestión de Restaurantes</h2>
  </div>
  <nav>
    <a class="nav-link" href="#">
      <i class="pi pi-home"></i> <!-- Ícono de PrimeNG -->
      Inicio
    </a>
    <a class="nav-link" href="#">
      <i class="pi pi-table"></i> <!-- Ícono de PrimeNG -->
      Gestión de Mesas
    </a>
    <a class="nav-link" href="#">
      <i class="pi pi-shopping-cart"></i> <!-- Ícono de PrimeNG -->
      Pedidos
    </a>
    <a class="nav-link" href="#">
      <i class="pi pi-chart-bar"></i> <!-- Ícono de PrimeNG -->
      Reportes
    </a>
    <a class="nav-link" routerLink="/dashboard">
      <i class="pi pi-th-large"></i> <!-- Ícono de PrimeNG -->
      Dashboard
    </a>
  </nav>
</div>