<div class="flex justify-content-between mb-3">
  <h2>Usuarios</h2>
</div>
<p-card>
  <ng-template #header>
  </ng-template>

  <div class="flex flex-column gap-2">
    <div class="flex justify-content-end">
      <button size="small" pButton label="Agregar Usuario" icon="pi pi-plus" (click)="createUser()" type="button"
        class="p-button-success"></button>
    </div>
    <p-table [value]="users" [paginator]="true" [rows]="rows" [totalRecords]="totalRecords" [first]="first"
      (onLazyLoad)="loadUsersLazy($event)" [rowHover]="true" dataKey="userid" [lazy]="true" [loading]="loading"
      currentPageReportTemplate="Registros {first} a {last} de {totalRecords} en total" [showCurrentPageReport]="true"
      showGridlines>
      <ng-template #header>
        <tr>
          <th style="width:80px"></th>
          <th style="width:500px">Usuario</th>
          <th style="width:180px">Rol</th>
          <th style="width:140px">Creación</th>
        </tr>
      </ng-template>
      <ng-template #body let-user>
        <tr>
          <td class="p-2 text-center">
            <div class="justify-center">
              <button size="small" pButton icon="pi pi-file-edit" class="p-button-success p-button-rounded mr-2"
                (click)="editUser(user)" type="button"></button>
              <button size="small" pButton icon="pi pi-trash" class="p-button-danger p-button-rounded"
                (click)="deleteUser(user)" type="button"></button>
            </div>
          </td>
          <td>{{user.username}}</td>
          <td>{{user.role}}</td>
          <td>{{user.createdat | date:'dd/MM/yy'}}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</p-card>
<p-toast></p-toast>
<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>