<div class="flex justify-content-between mb-3">
    <h2>{{ isEditMode ? 'Editar Pedido' : 'Crear Pedido' }}</h2>
</div>

<p-card>
    <ng-template #header></ng-template>

    <div class="flex justify-content-end mb-4">
        <div class="flex gap-1">
            <button pButton size="small" label="{{ isEditMode ? 'Actualizar' : 'Crear' }}" icon="pi pi-save"
                type="button" (click)="onSubmit()" class="p-button-success"></button>
            <button pButton size="small" label="Atrás" icon="pi pi-arrow-left" (click)="goBack()" type="button"
                class="p-button-secondary"></button>
        </div>
    </div>

    <form [formGroup]="orderForm" class="p-fluid grid gap-1">
        <div class="col-12 xl:col-4 lg:col-6 md:col-12 sm:col-12">
            <div class="field flex flex-column gap-1">
                <div class="flex align-items-center gap-2">
                    <label for="tableid" class="block text-right" style="width: 120px;">Mesa<span
                            class="required">*</span></label>
                    <p-select [options]="tables" formControlName="tableid" optionLabel="tablenumber"
                        optionValue="tableid" class="w-full"></p-select>
                </div>
                <p-message size="small"
                    *ngIf="orderForm.get('tableid')?.hasError('required') && orderForm.get('tableid')?.touched"
                    severity="error" text="Mesa es requerida."></p-message>
            </div>

            <div class="field flex flex-column gap-1">
                <div class="flex align-items-center gap-2">
                    <label for="status" class="block text-right" style="width: 120px;">Estado<span
                            class="required">*</span></label>
                    <p-select [options]="status" formControlName="status" class="w-full" optionLabel="label"
                        optionValue="value"></p-select>
                </div>
                <p-message size="small"
                    *ngIf="orderForm.get('status')?.hasError('required') && orderForm.get('status')?.touched"
                    severity="error" text="Estado es requerido."></p-message>
            </div>

            <div class="field flex flex-column gap-1">
                <div class="flex align-items-center gap-2">
                    <label for="total" class="block text-right" style="width: 120px;">Total<span
                            class="required">*</span></label>
                    <p-inputNumber id="total" formControlName="total" [mode]="'decimal'" [min]="0"
                        [minFractionDigits]="2" [maxFractionDigits]="2" [useGrouping]="false" [showButtons]="true"
                        class="w-full">
                    </p-inputNumber>
                </div>
                <p-message size="small"
                    *ngIf="(orderForm.get('total')?.hasError('required') || orderForm.get('total')?.hasError('min')) && orderForm.get('total')?.touched"
                    severity="error" text="El total debe ser mayor o igual a 0."></p-message>
            </div>
        </div>

        <div class="col-12">
            <div class="flex align-items-center mb-4">
                <h3 class="m-0">Detalles del Pedido</h3>
                <div class="flex gap-1 ml-2">
                    <button pButton type="button" size="small" class="p-button-success" label="Agregar Detalle"
                        icon="pi pi-plus" (click)="addOrderDetail()"></button>
                </div>
            </div>
            <div formArrayName="orderDetails" *ngFor="let detail of orderDetails.controls; let i = index" class="mb-3">
                <div [formGroupName]="i" class="p-fluid grid gap-2 align-items-center">
                    <div class="field col-12 md:col-4 sm:col-12">
                        <label for="dishid" class="block">Plato<span class="required">*</span></label>
                        <p-select [options]="dishes" formControlName="dishid" optionLabel="name" optionValue="dishid"
                            class="w-full" (onChange)="updateSubtotal(i)"></p-select>
                        <p-message size="small"
                            *ngIf="detail.get('dishid')?.hasError('required') && detail.get('dishid')?.touched"
                            severity="error" text="Plato es requerido."></p-message>
                    </div>
                    <div class="field col-12 md:col-3 sm:col-12">
                        <label for="quantity" class="block">Cantidad<span class="required">*</span></label>
                        <p-inputNumber formControlName="quantity" (onBlur)="updateSubtotal(i)" [min]="1"
                            [showButtons]="true" inputStyleClass="w-full" class="w-full"></p-inputNumber>
                        <p-message size="small"
                            *ngIf="detail.get('quantity')?.hasError('required') && detail.get('quantity')?.touched"
                            severity="error" text="Cantidad es requerida."></p-message>
                    </div>
                    <div class="field col-12 md:col-3 sm:col-12">
                        <label for="subtotal" class="block">Subtotal<span class="required">*</span></label>
                        <p-inputNumber formControlName="subtotal" [mode]="'decimal'"
                            [min]="0" [minFractionDigits]="2" [maxFractionDigits]="2" [useGrouping]="false"
                            [showButtons]="true" inputStyleClass="w-full" class="w-full"></p-inputNumber>
                        <p-message size="small"
                            *ngIf="detail.get('subtotal')?.hasError('required') && detail.get('subtotal')?.touched"
                            severity="error" text="Subtotal es requerido."></p-message>
                    </div>
                    <div class="flex justify-content-center">
                        <button pButton type="button" icon="pi pi-trash" class="p-button-danger"
                            (click)="removeOrderDetail(i)"></button>
                    </div>
                </div>
            </div>
        </div>
    </form>

</p-card>

<p-toast></p-toast>