$spotify-green: #1DB954;
$spotify-black: #191414;
$spotify-white: #FFFFFF;

.layout {
  display: flex;
  height: 100vh; // Make the layout container take the full height
}

.sidebar {
  flex: 0 0 auto;
  background-color: $spotify-black;
  height: 100vh;
  width: 250px;
}

.main-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.topbar {
  flex: 0 0 auto;
  padding: 10px 20px;
}

.content {
  flex: 1;
  padding: 20px;
  overflow: auto;
}