$spotify-green: #1DB954;
$spotify-black: #191414;
$spotify-white: #FFFFFF;

:host {
  display: flex;
  flex-direction: column;
  background-color: $spotify-black;
  padding: 20px;
}

.sidebar-header {
  text-align: center;
  margin-bottom: 30px;

  h2 {
    color: $spotify-white;
    font-size: 24px;
    margin: 0;
  }
}

.nav-link {
  display: flex;
  align-items: center;
  color: $spotify-white;
  text-decoration: none;
  padding: 10px 15px;
  margin: 8px 0;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s ease, color 0.3s ease;

  &:hover {
    background-color: $spotify-green;
    color: $spotify-white;
    text-decoration: none;
  }

  &.active {
    background-color: $spotify-green;
    color: $spotify-white;
  }

  i {
    margin-right: 10px; // Espacio entre el ícono y el texto
  }
}