<div class="sidebar">
  <div class="sidebar-header">
    <a href="/" style="text-decoration: none;">
      <h2>Gestión de Restaurantes</h2>
    </a>
  </div>
  <nav>
    <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">
      <i class="pi pi-home"></i>
      Inicio
    </a>
    <a class="nav-link" routerLink="/menu" routerLinkActive="active">
      <i class="pi pi-list"></i>
      Menu
    </a>
    <a class="nav-link" routerLink="/tables" routerLinkActive="active">
      <i class="pi pi-table"></i>
      Mesas
    </a>
    <a class="nav-link" routerLink="/users" routerLinkActive="active">
      <i class="pi pi-users"></i>
      Usuarios
    </a>
  </nav>
</div>