$spotify-green: #1DB954;
$spotify-black: #191414;
$spotify-white: #FFFFFF;

:host {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $spotify-black;
  padding: 10px 20px;
  color: $spotify-white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

span {
  font-size: 18px;
  cursor: pointer;
  &:hover {
    color: $spotify-green;
  }
}