<div class="flex justify-content-between mb-3">
  <h2>{{ isEditMode ? 'Editar Usuario' : 'Crear Usuario' }}</h2>
</div>

<p-card>
  <ng-template #header></ng-template>

  <div class="flex justify-content-end mb-4">
    <div class="flex gap-1">
      <button pButton size="small" label="{{ isEditMode ? 'Actualizar' : 'Crear' }}" icon="pi pi-save" type="button"
        [disabled]="loading" (click)="onSubmit()" class="p-button-success"></button>
      <button pButton size="small" label="Atrás" icon="pi pi-arrow-left" (click)="goBack()" type="button"
        class="p-button-secondary"></button>
    </div>
  </div>

  <form [formGroup]="userForm" class="p-fluid grid gap-1">
    <div class="col-12 xl:col-4 lg:col-6 md:col-12 sm:col-12">
      <div class="field flex flex-column gap-1">
        <div class="flex align-items-center gap-2">
          <label for="username" class="block text-right" style="width: 140px;">Usuario<span
              class="required">*</span></label>
          <input type="text" pInputText formControlName="username" class="w-full" />
        </div>
        <p-message size="small"
          *ngIf="userForm.get('username')?.hasError('required') && userForm.get('username')?.touched" severity="error"
          text="Usuario es requerido."></p-message>
      </div>

      <div class="field flex flex-column gap-1">
        <div class="flex align-items-center gap-2">
          <label for="password" class="block text-right" style="width: 140px;">Contraseña<span
              class="required">*</span></label>
          <p-password formControlName="password" promptLabel="Elija una Contraseña" weakLabel="Muy débil"
            mediumLabel="Media" strongLabel="Fuerte" class="w-full" styleClass="w-full" inputStyleClass="w-full" />
        </div>
        <p-message size="small"
          *ngIf="userForm.get('password')?.hasError('required') && userForm.get('password')?.touched" severity="error"
          text="Contraseña es requerida."></p-message>
      </div>

      <div class="field flex flex-column gap-1">
        <div class="flex align-items-center gap-2">
          <label for="role" class="block text-right" style="width: 140px;">Rol<span class="required">*</span></label>
          <p-select [options]="roles" formControlName="role" optionLabel="label" optionValue="value"
            class="w-full"></p-select>
        </div>
        <p-message size="small" *ngIf="userForm.get('role')?.hasError('required') && userForm.get('role')?.touched"
          severity="error" text="Rol es requerido."></p-message>
      </div>
    </div>
  </form>

</p-card>

<p-toast></p-toast>