<div class="flex justify-content-between mb-3">
  <h2>Create/Edit Dish</h2>
</div>
<p-card>
  <ng-template #header>
  </ng-template>
  <div class="card-header mb-4" style="display: flex; justify-content: flex-end; margin-bottom: 1rem;">
    <div style="display: flex; gap: 5px;">
      <button pButton label="Guardar" icon="pi pi-save" type="submit" class="p-button-success"></button>
      <button pButton label="Atrás" icon="pi pi-arrow-left" (click)="goBack()" type="button"
        class="p-button-secondary"></button>
    </div>
  </div>
  <form [formGroup]="dishForm" (ngSubmit)="onSubmit()">
    <div class="field">
      <label for="name">Name</label>
      <input id="name" type="text" pInputText formControlName="name" />
      <p-message *ngIf="dishForm.get('name')?.invalid && (dishForm.get('name')?.touched || dishForm.get('name')?.dirty)"
        severity="error" text="Name is required"></p-message>
    </div>

    <div class="field">
      <label for="category">Category</label>
      <p-select [options]="categories" formControlName="category"></p-select>
    </div>

    <div class="field">
      <label for="price">Price</label>
      <input id="price" type="number" pInputText formControlName="price" />
      <p-message
        *ngIf="dishForm.get('price')?.invalid && (dishForm.get('price')?.touched || dishForm.get('price')?.dirty)"
        severity="error" text="Price must be a positive number"></p-message>
    </div>

    <div class="field">
      <label for="isAvailable">Available</label>
      <p-checkbox id="isAvailable" formControlName="isAvailable" binary="true"></p-checkbox>
    </div>
  </form>
</p-card>
<p-toast></p-toast>
<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>