<div class="flex justify-content-between mb-3">
  <h2>{{ isEditMode ? 'Editar Plato' : 'Crear Plato' }}</h2>
</div>

<p-card>
  <ng-template #header></ng-template>

  <div class="flex justify-content-end mb-4">
    <div class="flex gap-1">
      <button pButton size="small" label="{{ isEditMode ? 'Actualizar' : 'Crear' }}" icon="pi pi-save" type="button"
        (click)="onSubmit()" class="p-button-success"></button>
      <button pButton size="small" label="Atrás" icon="pi pi-arrow-left" (click)="goBack()" type="button"
        class="p-button-secondary"></button>
    </div>
  </div>

  <form [formGroup]="dishForm" class="p-fluid grid gap-1">
    <div class="col-12 xl:col-4 lg:col-6 md:col-12 sm:col-12">
      <div class="field flex flex-column gap-1">
        <div class="flex align-items-center gap-2">
          <label for="name" class="block text-right" style="width: 100px;">Nombre</label>
          <input type="text" pInputText formControlName="name" class="w-full" />
        </div>
        <p-message size="small" *ngIf="dishForm.get('name')?.hasError('required') && dishForm.get('name')?.touched"
          severity="error" text="Nombre es requerido."></p-message>
      </div>

      <div class="field flex flex-column gap-1">
        <div class="flex align-items-center gap-2">
          <label for="category" class="block text-right" style="width: 100px;">Categoria</label>
          <p-select [options]="categories" formControlName="category" optionLabel="name" optionValue="id"
            class="w-full"></p-select>
        </div>
        <p-message size="small"
          *ngIf="dishForm.get('category')?.hasError('required') && dishForm.get('category')?.touched" severity="error"
          text="Categoria es requerida."></p-message>
      </div>

      <div class="field flex flex-column gap-1">
        <div class="flex align-items-center gap-2">
          <label for="price" class="block text-right" style="width: 100px;">Precio</label>
          <p-inputNumber id="price" formControlName="price" [mode]="'decimal'" [min]="0" [showButtons]="true"
            class="w-full"></p-inputNumber>
        </div>
        <p-message size="small" *ngIf="dishForm.get('price')?.hasError('min') && dishForm.get('price')?.touched"
          severity="error" text="El precio debe ser mayor o igual a 0."></p-message>
      </div>

      <div class="field flex flex-column gap-1">
        <div class="flex align-items-center gap-2">
          <label for="isAvailable" class="block text-right" style="width: 100px;">Disponible</label>
          <p-checkbox id="isAvailable" formControlName="isAvailable" binary="true"></p-checkbox>
        </div>
      </div>
    </div>
  </form>

</p-card>

<p-toast></p-toast>
<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>