/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";

$spotify-green: #1DB954;
$spotify-black: #191414;
$spotify-white: #FFFFFF;

body {
  margin: 0;
  font-family: "Comfortaa", serif;
}

.p-card{
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1) !important;
}

.p-button-success {
  background-color: $spotify-green !important;
  color: white;

  &:hover {
    background-color: $spotify-black !important;
    opacity: 0.8;
    border-color: $spotify-black !important;
  }

  &:active {
    background-color: $spotify-black !important;
    opacity: 1;
    border-color: $spotify-black !important;
  }
}

.p-button-danger {

  &:hover {
    background-color: $spotify-black !important;
    opacity: 0.8;
    border-color: $spotify-black !important;
  }

  &:active {
    background-color: $spotify-black !important;
    opacity: 1;
    border-color: $spotify-black !important;
  }
}