$spotify-green: #1DB954;
$spotify-black: #191414;
$spotify-white: #FFFFFF;

:host {
  display: flex;
  flex-direction: column;
  background-color: $spotify-black;
  padding: 20px;
  height: 100vh; // Make the sidebar occupy the full height
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-bottom: 30px;

  h2 {
    color: $spotify-white;
    font-size: 24px;
    margin: 0;
  }

  .hamburger {
    background: none;
    border: none;
    color: $spotify-white;
    font-size: 24px;
    cursor: pointer;
    margin-left: 10px; // Add margin to move the button to the right
  }
}

.nav-link {
  display: flex;
  align-items: center;
  color: $spotify-white;
  text-decoration: none;
  padding: 10px 15px;
  margin: 8px 0;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s ease, color 0.3s ease;

  &:hover {
    background-color: $spotify-green;
    color: $spotify-white;
    text-decoration: none;
  }

  &.active {
    background-color: $spotify-green;
    color: $spotify-white;
  }

  i {
    margin-right: 10px;
  }
}

.sidebar {
  &.collapsed {
    width: 60px;

    .sidebar-header {
      justify-content: center;
      margin-bottom: 0; // Remove margin to align with other items

      h2 {
        display: none;
      }

      .hamburger {
        margin-left: 0; // Reset margin to align with other items
      }
    }

    .nav-link {
      justify-content: center;
      padding: 10px;

      i {
        margin-right: 0;
      }

      span {
        display: none;
      }
    }
  }
}