<div class="sidebar" [class.collapsed]="isCollapsed">
  <div class="sidebar-header">
    <a href="/" style="text-decoration: none;">
      <h2>Gestión de <br>Restaurantes</h2>
    </a>
    <button (click)="toggleSidebar()" class="hamburger">
      <i class="pi pi-bars"></i>
    </button>
  </div>
  <nav>
    <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">
      <i class="pi pi-home"></i>
      <span>Inicio</span>
    </a>
    <a class="nav-link" routerLink="/menu" routerLinkActive="active">
      <i class="pi pi-list"></i>
      <span>Menu</span>
    </a>
    <a class="nav-link" routerLink="/tables" routerLinkActive="active">
      <i class="pi pi-table"></i>
      <span>Mesas</span>
    </a>
    <a class="nav-link" routerLink="/order" routerLinkActive="active">
      <i class="pi pi-shopping-cart"></i>
      <span>Pedidos</span>
    </a>
    <a class="nav-link" routerLink="/users" routerLinkActive="active">
      <i class="pi pi-users"></i>
      <span>Usuarios</span>
    </a>
  </nav>
</div>